/* styles.css */

/* ------------------------------ */
/* ----------- global ----------- */
/* ------------------------------ */
* {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body,
ol,
ul,
li,
h1,
h2,
a {
    margin: 0;
    padding: 0;
}

/* Images in general */
img {
    max-width: 100%;
}

/* Centered images */
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation buttons */
nav {
    background: #F4F4F4;
    padding: 20px;
    /* position: sticky;
    top: 106px; */
    z-index: 1;
}

/* Make navigation lists container flex */
nav ol,
nav ul {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;

}

/* Remove list numbering/bullets/etc.. and palce inline */
nav li {
    display: inline-block;
    list-style: none;
}

/* Beautify navigational buttons */
button {
    text-align: center;
    font-size: 16px;
    color: white;
    /* background-color: rgb(151, 151, 151); */
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(102, 102, 102);
    /* background-color: #008CBA;
    border: 2px solid #008CBA; */
    border-radius: 3px;
    transition-duration: 0.4s;
    padding: 4px 16px;
    margin: 1px auto;
}
/* Make buttons all the same size */
button {
    box-sizing: content-box;
    width: 10em;
}

/* Add button hover animations */
button:hover {
    /* color: #008CBA; */
    color: rgb(102, 102, 102);
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
/* ------------------------------ */
/* --------- index.html --------- */
/* ------------------------------ */
/* Header element */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(29, 29, 31);
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/* Content inside header element (i.e. text) */
header h1 {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(245, 245, 247);
    font-size: 25px;
    border: 8px solid;
    border-radius: 36px;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
}

/* Welcome message in landing page */
.welcome-message {
    background-color: rgb(245, 245, 247);
    display: block;
    text-align: center;
    position: relative;
    top: 89px;
    /* padding: 125px 10px 25px; */
    font-size: 17px;
    font-weight: bold;
    margin: 10px auto 90px auto;
    padding: 10px 10px;
}

/* Sections (i.e. about & stories) */
section h2 {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    background-color: rgb(251, 251, 253);
    text-align: center;
    padding: 10px;
}

main.homepage p {
    font-size: 20px;
    /* padding-left: 10px; */
    text-align: center;
}


/* ------------------------------ */
/* -------- story_*.html -------- */
/* ------------------------------ */
/* Align page banners below the navigational bar */
img.page-banner{
    position: relative;
    top: 106px;
    margin-bottom: 105px;
}

.story p {
    margin-top: 0;
    padding: 0;
    text-align: justify;
    direction: ltr;
}

.story article {
    text-align: justify;
    font-size: 22px;
    padding: 15px 75px;
    text-indent: 45px;
    column-count: 2;
    column-gap: 75px;
    column-rule-style: solid;    
}